/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    color: #08406F;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header {
    background-color: #04BADE; /* Header en color secundario */
    padding: 10px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%; /* Ajusta el ancho si es necesario */
    margin: 0 auto; /* Centra el contenido del nav */
}

.left-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left-menu li {
    margin: 0 15px;
}

.left-menu li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.left-menu li a:hover {
    color: #E68F59;
}

.left-menu .logo img {
    height: 60px;
    width: 60px;
    margin-right: 240px;
}

.language-selector {
    display: flex;
    align-items: center;
    margin-top: 0; /* Ajusta el margen si es necesario */
}

.language-selector button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 2px solid transparent;
    background-color: #04BADE;
    color: white;
    cursor: pointer;
}

.language-selector button:hover {
    border-color: #E68F59;
}


h1 {
    font-size: 55px;
    font-weight: 700;
    color: white;
    border-bottom: 2px solid #E68F59;
    display: inline-block;
    padding-bottom: 5px;
}

p {
    font-weight: 100;
    color: white;
}

section {
    padding: 100px 20px;
    text-align: center;
    background-color: #08406F; /* Secciones con color principal */
}




#acerca {
    background-color: #08406F;
    padding: 60px 20px;
    text-align: center; /* Centra el título */
}


#acerca h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 40px;
    display: inline-block; /* Asegura que el título esté centrado */
    padding-bottom: 5px;
    border-bottom: 2px solid #E68F59;
display: inline-block;}

.acerca-contenido {
    display: flex;
    justify-content: space-between; /* Separa los elementos (texto y carrusel) */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centra el contenido */
}

.acerca-texto {
    flex: 1;
    text-align: left;
    margin-right: 10px; /* Separa el texto del carrusel */
    color: white;
    margin-left: 10px;
}

.acerca-texto p {
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0;
    line-height: 1.6;
}

.acerca-botones {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.acerca-botones .btn-curriculum {
    background-color: #04BADE;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.acerca-botones .btn-curriculum:hover {
    background-color: #E68F59;
}

.about-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
    max-width: 400px; /* Define el ancho máximo del carrusel */
}

.carousel {
    position: relative;
    width: 400px; /* Ancho específico del carrusel */
    height: 400px; /* Alto específico del carrusel */
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-inner img {
    width: 100%; /* Asegura que las imágenes llenen el contenedor del carrusel */
    height: auto;
    object-fit: contain;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}



/*Mision Vision*/
#misionvision {
    padding: 50px 20px;
    background-color: #08406F; /* Color de fondo de la sección */
    text-align: center;
}

#misionvision h1 {
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
    border-bottom: 2px solid #E68F59;
    display: inline-block;
    padding-bottom: 5px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 100px; /* Espacio entre las cartas */
    margin-top: 50px;
    margin-bottom: -70px;

}

.card {
    background-color: #ffffff; /* Fondo blanco para las cartas */
    color: #E68F59; /* Color del texto */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 400px;
}

.card h3 {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 30px;
    color: #E68F59;

    
}

.card p {
    font-weight: 400;
    font-size: 20px;
    color: black;
}

#valores {
    padding: 100px 20px;
    text-align: center;
    background-color: #08406F;
    color: white;
}

.valores-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    
}

.valor-card {
    background-color: #04BADE; /* Color de las cartas */
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-weight: 400;
    font-size: 30px;
}

/*Portafolio*/

#portafolio {
    text-align: center;
    padding: 50px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: #04BADE;
    border-bottom: 2px solid #E68F59;

    
}

.card-img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 15px;
}

.btn {
    background-color: #E68F59;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #04BADE;
}

/* Ajustar la distribución de las cartas para pantallas más pequeñas */



/*Contacto*/

#contacto {
    background-color: #08406F; /* Sección de contacto */
   
}

/* Estilos para el formulario */
.contacto-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-right: -200px;

}

form label {
    margin: 10px 0 5px;
    color: #08406F;
    font-weight: bold;
}

form input, form textarea {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #04BADE;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #E68F59;
}

.contact-image img {
    max-width: 470px;
    height: 335px;
    border-radius: 5px;
    margin-left: 250px;
    border-radius: 1%;

    
}


.btn-curriculum {
    display: inline-block;
    background-color: #04BADE;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-curriculum:hover {
    background-color: #E68F59;
}


/*Footer*/

footer {
    background-color: #04BADE; /* Color de fondo del footer */
    padding: 20px 0;
    text-align: center;
    color: white;
    font-size: 20px;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.footer-btn {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: #04BADE;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.footer-btn:hover {
    background-color: #E68F59;
}

.footer-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}



#scrollTopBtn {
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón, igual que el ancho */
    border: none; /* Sin borde */
    border-radius: 50%; /* Hacer que sea completamente redondo */
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
    background-color: #04BADE; /* Color secundario */
    color: white;
    border: none;
    padding: 15px;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Oculto por defecto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#scrollTopBtn:hover {
    background-color: #E68F59; /* Color de hover */
}




/* Diseño responsivo */
/*@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 70px 20px;
    }

    form {
        margin-left: 0;
    }
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        gap: 10px;
    }
}


@media (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}*/


/* Estilos para tablets */
@media (max-width: 1024px) {
    .main-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-menu {
        flex-direction: column;
        align-items: flex-start;
    }

    .left-menu li {
        margin: 10px 0;
    }

    .acerca-contenido {
        flex-direction: column;
        align-items: center;
    }

    .acerca-texto {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content {
        justify-content: center;
    }

    .cards-container {
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .carousel {
        width: 100%;
        height: auto;
    }
}

/* Estilos para móviles */
@media (max-width: 480px) {
    header {
        padding: 5px 0;
    }

    .main-nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px;
    }

    .left-menu {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .left-menu li {
        margin: 5px 0;
    }

    .left-menu .logo img {
        margin-right: 0;
    }

    .language-selector {
        margin-top: 10px;
    }

    h1 {
        font-size: 1.5em;
        padding-bottom: 3px;
    }

    p {
        font-size: 14px;
    }

    section {
        padding: 80px 20px;
    }

    .acerca-contenido {
        flex-direction: column;
        align-items: center;
    }

    .acerca-texto {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .about-content {
        justify-content: center;
    }

    .carousel {
        width: 100%;
        height: auto;
    }

    .cards-container {
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .card-container {
        grid-template-columns: 1fr;
    }

    .contacto-container {
        flex-direction: column;
        padding: 20px;
    }

    form {
        width: 100%;
    }
}

